@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('https://abeeventos.s3.sa-east-1.amazonaws.com/clashfont/ClashDisplay-Bold.woff2') format('woff2'),
       url('https://abeeventos.s3.sa-east-1.amazonaws.com/clashfont/ClashDisplay-Bold.woff') format('woff'),
       url('https://abeeventos.s3.sa-east-1.amazonaws.com/clashfont/ClashDisplay-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


* {
  font-family: 'Inter', monospace;
}

body {
  background-color: #09090B;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.clash-display {
  font-family: 'ClashDisplay-Bold' !important;
  font-weight: 700;
}

.perspective-1000 {
  perspective: 1000px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(171, 119, 226, 0.35), rgba(9, 9, 11, 0.8));
  border-radius: 10px;
}